/*
$$$$$$\   $$$$$$\  $$\   $$\ $$$$$$$$\  $$$$$$\  $$$$$$\ $$\   $$\ $$$$$$$$\ $$$$$$$\  
$$  __$$\ $$  __$$\ $$$\  $$ |\__$$  __|$$  __$$\ \_$$  _|$$$\  $$ |$$  _____|$$  __$$\ 
$$ /  \__|$$ /  $$ |$$$$\ $$ |   $$ |   $$ /  $$ |  $$ |  $$$$\ $$ |$$ |      $$ |  $$ |
$$ |      $$ |  $$ |$$ $$\$$ |   $$ |   $$$$$$$$ |  $$ |  $$ $$\$$ |$$$$$\    $$$$$$$  |
$$ |      $$ |  $$ |$$ \$$$$ |   $$ |   $$  __$$ |  $$ |  $$ \$$$$ |$$  __|   $$  __$$< 
$$ |  $$\ $$ |  $$ |$$ |\$$$ |   $$ |   $$ |  $$ |  $$ |  $$ |\$$$ |$$ |      $$ |  $$ |
\$$$$$$  | $$$$$$  |$$ | \$$ |   $$ |   $$ |  $$ |$$$$$$\ $$ | \$$ |$$$$$$$$\ $$ |  $$ |
 \______/  \______/ \__|  \__|   \__|   \__|  \__|\______|\__|  \__|\________|\__|  \__|
*/


.container {
    background-color: #333333;
    height: 600px;
    width: 1300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/*
$$$$$$\ $$\   $$\  $$$$$$\  $$$$$$\ $$$$$$$\  $$$$$$$$\         
\_$$  _|$$$\  $$ |$$  __$$\ \_$$  _|$$  __$$\ $$  _____|        
  $$ |  $$$$\ $$ |$$ /  \__|  $$ |  $$ |  $$ |$$ |              
  $$ |  $$ $$\$$ |\$$$$$$\    $$ |  $$ |  $$ |$$$$$\    $$$$$$\ 
  $$ |  $$ \$$$$ | \____$$\   $$ |  $$ |  $$ |$$  __|   \______|
  $$ |  $$ |\$$$ |$$\   $$ |  $$ |  $$ |  $$ |$$ |              
$$$$$$\ $$ | \$$ |\$$$$$$  |$$$$$$\ $$$$$$$  |$$$$$$$$\         
\$$$$$$\\_$$\ \_$$\\$$$$$$$$\______|\_______/ \________|        
$$  __$$\ $$$\  $$ |$$  _____|                                  
$$ /  $$ |$$$$\ $$ |$$ |                                        
$$ |  $$ |$$ $$\$$ |$$$$$\                                      
$$ |  $$ |$$ \$$$$ |$$  __|                                     
$$ |  $$ |$$ |\$$$ |$$ |                                        
 $$$$$$  |$$ | \$$ |$$$$$$$$\                                   
 \______/ \__|  \__|\________|     
*/


.inside-one {
    display: flex;
    height: 50%;
    width: 100%;

}

.inside-one .one {
    width: 50%;
    height: 100%;
    background-color: aqua;
}

.inside-one .two{
    width: 50%;
    height: 100%;    
}

.inside-one .two .one-in-two {
    background-color: chartreuse;
    height: 50%;
}

.inside-one .two .two-in-two {
    background-color: red;
    height: 50%;

}

/*
$$$$$$\ $$\   $$\  $$$$$$\  $$$$$$\ $$$$$$$\  $$$$$$$$\         
\_$$  _|$$$\  $$ |$$  __$$\ \_$$  _|$$  __$$\ $$  _____|        
  $$ |  $$$$\ $$ |$$ /  \__|  $$ |  $$ |  $$ |$$ |              
  $$ |  $$ $$\$$ |\$$$$$$\    $$ |  $$ |  $$ |$$$$$\    $$$$$$\ 
  $$ |  $$ \$$$$ | \____$$\   $$ |  $$ |  $$ |$$  __|   \______|
  $$ |  $$ |\$$$ |$$\   $$ |  $$ |  $$ |  $$ |$$ |              
$$$$$$\ $$ | \$$ |\$$$$$$  |$$$$$$\ $$$$$$$  |$$$$$$$$\         
$$$$$$$$\_$$\ \__| $$\__$$$$$$\____|\_______/ \________|        
\__$$  __|$$ | $\  $$ |$$  __$$\                                
   $$ |   $$ |$$$\ $$ |$$ /  $$ |                               
   $$ |   $$ $$ $$\$$ |$$ |  $$ |                               
   $$ |   $$$$  _$$$$ |$$ |  $$ |                               
   $$ |   $$$  / \$$$ |$$ |  $$ |                               
   $$ |   $$  /   \$$ | $$$$$$  |                               
   \__|   \__/     \__| \______/
*/

.insede-two {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    flex-flow: row wrap;
}

.insede-two .one {
    width: 100%;
    height: 50%;
    background-color: violet;
}

.insede-two .two {
    width: 20%;
    height: 50%;
    background-color: orange;
}

.insede-two .three {
    width: 20%;
    height: 50%;
    background-color: yellow;
}

.insede-two .four {
    width: 20%;
    height: 50%;
    background-color: tomato;
}

.insede-two .five {
    width: 20%;
    height: 50%;
    background-color: turquoise;
}

.insede-two .six {
    width: 20%;
    height: 50%;
    background-color: #fafafa;
}