/*
$$$$$$\   $$$$$$\  $$\   $$\ $$$$$$$$\  $$$$$$\  $$$$$$\ $$\   $$\ $$$$$$$$\ $$$$$$$\  
$$  __$$\ $$  __$$\ $$$\  $$ |\__$$  __|$$  __$$\ \_$$  _|$$$\  $$ |$$  _____|$$  __$$\ 
$$ /  \__|$$ /  $$ |$$$$\ $$ |   $$ |   $$ /  $$ |  $$ |  $$$$\ $$ |$$ |      $$ |  $$ |
$$ |      $$ |  $$ |$$ $$\$$ |   $$ |   $$$$$$$$ |  $$ |  $$ $$\$$ |$$$$$\    $$$$$$$  |
$$ |      $$ |  $$ |$$ \$$$$ |   $$ |   $$  __$$ |  $$ |  $$ \$$$$ |$$  __|   $$  __$$< 
$$ |  $$\ $$ |  $$ |$$ |\$$$ |   $$ |   $$ |  $$ |  $$ |  $$ |\$$$ |$$ |      $$ |  $$ |
\$$$$$$  | $$$$$$  |$$ | \$$ |   $$ |   $$ |  $$ |$$$$$$\ $$ | \$$ |$$$$$$$$\ $$ |  $$ |
 \______/  \______/ \__|  \__|   \__|   \__|  \__|\______|\__|  \__|\________|\__|  \__|
*/


.container {
    background-color: #333333;
    height: 600px;
    width: 1300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
}

/*
$$\       $$$$$$$$\ $$$$$$$$\ $$$$$$$$\         $$$$$$$$\  $$$$$$\  $$$$$$$\            
$$ |      $$  _____|$$  _____|\__$$  __|        \__$$  __|$$  __$$\ $$  __$$\           
$$ |      $$ |      $$ |         $$ |              $$ |   $$ /  $$ |$$ |  $$ |          
$$ |      $$$$$\    $$$$$\       $$ |   $$$$$$\    $$ |   $$ |  $$ |$$$$$$$  |          
$$ |      $$  __|   $$  __|      $$ |   \______|   $$ |   $$ |  $$ |$$  ____/           
$$ |      $$ |      $$ |         $$ |              $$ |   $$ |  $$ |$$ |                
$$$$$$$$\ $$$$$$$$\ $$ |         $$ |              $$ |    $$$$$$  |$$ |                
\$$$$$$\_|\$$$$$$\_|$$\|  $$\ $$$$$$$$\  $$$$$$\  $$$$$$\ $$\___$$\ $$$$$$$$\ $$$$$$$\  
$$  __$$\ $$  __$$\ $$$\  $$ |\__$$  __|$$  __$$\ \_$$  _|$$$\  $$ |$$  _____|$$  __$$\ 
$$ /  \__|$$ /  $$ |$$$$\ $$ |   $$ |   $$ /  $$ |  $$ |  $$$$\ $$ |$$ |      $$ |  $$ |
$$ |      $$ |  $$ |$$ $$\$$ |   $$ |   $$$$$$$$ |  $$ |  $$ $$\$$ |$$$$$\    $$$$$$$  |
$$ |      $$ |  $$ |$$ \$$$$ |   $$ |   $$  __$$ |  $$ |  $$ \$$$$ |$$  __|   $$  __$$< 
$$ |  $$\ $$ |  $$ |$$ |\$$$ |   $$ |   $$ |  $$ |  $$ |  $$ |\$$$ |$$ |      $$ |  $$ |
\$$$$$$  | $$$$$$  |$$ | \$$ |   $$ |   $$ |  $$ |$$$$$$\ $$ | \$$ |$$$$$$$$\ $$ |  $$ |
 \______/  \______/ \__|  \__|   \__|   \__|  \__|\______|\__|  \__|\________|\__|  \__|

*/

.left-top-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: flex-end;
    height: 40%;
    width: 50%;
}

.left-top-container .item {
    height: 25%;
    width: 33%;
    background-color: darkgreen;
}

.left-top-container .itemb {
    height: 75%;
    width: 66%;
}


.rigth-top-container{
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rigth-top-container .top {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 20%;
}


.rigth-top-container .one {
    width: 40%;
    background-color: blue;
    height: 35%;
    
}

.rigth-top-container .two {
    width: 40%;
    background-color: blue;
    height: 35%;
}

.rigth-top-container .bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

}


.rigth-top-container .bottom .three {
    width: 25%;
    height: 25%;
    background-color: blueviolet;    
} 