/*
 $$$$$$\   $$$$$$\  $$\   $$\ $$$$$$$$\  $$$$$$\  $$$$$$\ $$\   $$\ $$$$$$$$\ $$$$$$$\  
$$  __$$\ $$  __$$\ $$$\  $$ |\__$$  __|$$  __$$\ \_$$  _|$$$\  $$ |$$  _____|$$  __$$\ 
$$ /  \__|$$ /  $$ |$$$$\ $$ |   $$ |   $$ /  $$ |  $$ |  $$$$\ $$ |$$ |      $$ |  $$ |
$$ |      $$ |  $$ |$$ $$\$$ |   $$ |   $$$$$$$$ |  $$ |  $$ $$\$$ |$$$$$\    $$$$$$$  |
$$ |      $$ |  $$ |$$ \$$$$ |   $$ |   $$  __$$ |  $$ |  $$ \$$$$ |$$  __|   $$  __$$< 
$$ |  $$\ $$ |  $$ |$$ |\$$$ |   $$ |   $$ |  $$ |  $$ |  $$ |\$$$ |$$ |      $$ |  $$ |
\$$$$$$  | $$$$$$  |$$ | \$$ |   $$ |   $$ |  $$ |$$$$$$\ $$ | \$$ |$$$$$$$$\ $$ |  $$ |
 \______/  \______/ \__|  \__|   \__|   \__|  \__|\______|\__|  \__|\________|\__|  \__|
*/

.container {
    background-color: #333333;
    height: 600px;
    width: 1300px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

/*
$$$$$$\ $$\   $$\  $$$$$$\  $$$$$$\ $$$$$$$\  $$$$$$$$\         
\_$$  _|$$$\  $$ |$$  __$$\ \_$$  _|$$  __$$\ $$  _____|        
  $$ |  $$$$\ $$ |$$ /  \__|  $$ |  $$ |  $$ |$$ |              
  $$ |  $$ $$\$$ |\$$$$$$\    $$ |  $$ |  $$ |$$$$$\    $$$$$$\ 
  $$ |  $$ \$$$$ | \____$$\   $$ |  $$ |  $$ |$$  __|   \______|
  $$ |  $$ |\$$$ |$$\   $$ |  $$ |  $$ |  $$ |$$ |              
$$$$$$\ $$ | \$$ |\$$$$$$  |$$$$$$\ $$$$$$$  |$$$$$$$$\         
\$$$$$$\\_$$\ \_$$\\$$$$$$$$\______|\_______/ \________|        
$$  __$$\ $$$\  $$ |$$  _____|                                  
$$ /  $$ |$$$$\ $$ |$$ |                                        
$$ |  $$ |$$ $$\$$ |$$$$$\                                      
$$ |  $$ |$$ \$$$$ |$$  __|                                     
$$ |  $$ |$$ |\$$$ |$$ |                                        
 $$$$$$  |$$ | \$$ |$$$$$$$$\                                   
 \______/ \__|  \__|\________|       
*/

/*
$$$$$$$$\  $$$$$$\  $$$$$$$\  
\__$$  __|$$  __$$\ $$  __$$\ 
   $$ |   $$ /  $$ |$$ |  $$ |
   $$ |   $$ |  $$ |$$$$$$$  |
   $$ |   $$ |  $$ |$$  ____/ 
   $$ |   $$ |  $$ |$$ |      
   $$ |    $$$$$$  |$$ |      
   \__|    \______/ \__|   
*/

.inside-one {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
}

.inside-one .top{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.inside-one .top .left {
    display: flex;
    width: 50%;
    flex-direction: column;

}   

.inside-one .top .one {
    height: 100%;
    width: 100%;
    background-color: aqua;
}

.inside-one .top .two {
    height: 100%;
    width: 100%;
    background-color: teal;
}

.inside-one .top .three {
    height: 100%;
    width: 50%;
    background-color: beige;
}

/*
$$$$$$$\   $$$$$$\  $$$$$$$$\ $$$$$$$$\  $$$$$$\  $$\      $$\ 
$$  __$$\ $$  __$$\ \__$$  __|\__$$  __|$$  __$$\ $$$\    $$$ |
$$ |  $$ |$$ /  $$ |   $$ |      $$ |   $$ /  $$ |$$$$\  $$$$ |
$$$$$$$\ |$$ |  $$ |   $$ |      $$ |   $$ |  $$ |$$\$$\$$ $$ |
$$  __$$\ $$ |  $$ |   $$ |      $$ |   $$ |  $$ |$$ \$$$  $$ |
$$ |  $$ |$$ |  $$ |   $$ |      $$ |   $$ |  $$ |$$ |\$  /$$ |
$$$$$$$  | $$$$$$  |   $$ |      $$ |    $$$$$$  |$$ | \_/ $$ |
\_______/  \______/    \__|      \__|    \______/ \__|     \__|
*/

.inside-one .bottom {
    display: flex;
    height: 35%;;
    flex-direction: row;
}

.inside-one .bottom .one {
    background-color: brown;
    height: 100%;
    width: 25%;
}

.inside-one .bottom .two {
    background-color: chartreuse;
    height: 100%;
    width: 50%;
}

.inside-one .bottom .three {
    background-color: springgreen;
    width: 25%;
    height: 100%;
}

/*
$$$$$$\ $$\   $$\  $$$$$$\  $$$$$$\ $$$$$$$\  $$$$$$$$\         
\_$$  _|$$$\  $$ |$$  __$$\ \_$$  _|$$  __$$\ $$  _____|        
  $$ |  $$$$\ $$ |$$ /  \__|  $$ |  $$ |  $$ |$$ |              
  $$ |  $$ $$\$$ |\$$$$$$\    $$ |  $$ |  $$ |$$$$$\    $$$$$$\ 
  $$ |  $$ \$$$$ | \____$$\   $$ |  $$ |  $$ |$$  __|   \______|
  $$ |  $$ |\$$$ |$$\   $$ |  $$ |  $$ |  $$ |$$ |              
$$$$$$\ $$ | \$$ |\$$$$$$  |$$$$$$\ $$$$$$$  |$$$$$$$$\         
$$$$$$$$\_$$\ \__| $$\__$$$$$$\____|\_______/ \________|        
\__$$  __|$$ | $\  $$ |$$  __$$\                                
   $$ |   $$ |$$$\ $$ |$$ /  $$ |                               
   $$ |   $$ $$ $$\$$ |$$ |  $$ |                               
   $$ |   $$$$  _$$$$ |$$ |  $$ |                               
   $$ |   $$$  / \$$$ |$$ |  $$ |                               
   $$ |   $$  /   \$$ | $$$$$$  |                               
   \__|   \__/     \__| \______/      
*/

/*
$$$$$$$$\  $$$$$$\  $$$$$$$\  
\__$$  __|$$  __$$\ $$  __$$\ 
   $$ |   $$ /  $$ |$$ |  $$ |
   $$ |   $$ |  $$ |$$$$$$$  |
   $$ |   $$ |  $$ |$$  ____/ 
   $$ |   $$ |  $$ |$$ |      
   $$ |    $$$$$$  |$$ |      
   \__|    \______/ \__|   
*/

.inside-two {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 35%;
}

.inside-two .top {
    display: flex;
    flex-direction: row;
    height: 35%;
    width: 100%;
}

.inside-two .top .one {
    width: 50%;
    height: 100%;
    background-color: cadetblue;
}

.inside-two .top .two {
    width: 50%;
    height: 100%;
    background-color: coral;
}


/*
$$$$$$$\   $$$$$$\  $$$$$$$$\ $$$$$$$$\  $$$$$$\  $$\      $$\ 
$$  __$$\ $$  __$$\ \__$$  __|\__$$  __|$$  __$$\ $$$\    $$$ |
$$ |  $$ |$$ /  $$ |   $$ |      $$ |   $$ /  $$ |$$$$\  $$$$ |
$$$$$$$\ |$$ |  $$ |   $$ |      $$ |   $$ |  $$ |$$\$$\$$ $$ |
$$  __$$\ $$ |  $$ |   $$ |      $$ |   $$ |  $$ |$$ \$$$  $$ |
$$ |  $$ |$$ |  $$ |   $$ |      $$ |   $$ |  $$ |$$ |\$  /$$ |
$$$$$$$  | $$$$$$  |   $$ |      $$ |    $$$$$$  |$$ | \_/ $$ |
\_______/  \______/    \__|      \__|    \______/ \__|     \__|
*/

.inside-two .bottom {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
}

.inside-two .one {
    height: 50%;
    width: 50%;
    background-color: steelblue;
}

.inside-two .two {
    height: 50%;
    width: 50%;
    background-color: crimson;
}

.inside-two .three {
    height: 100%;
    width: 50%;
    background-color: aliceblue;
}